include ../../../../views/layouts/app
  include ../../../../views/index/head
  body.ng-cloak
  include ../../../../views/layouts/navbar
  .container
    include ../../../../views/index/sections/home
    include ../../../../views/index/sections/resources
    .post-feed(ng-controller="PostsCtrl")
      .row
        .item(ng-repeat="item in items")
          markdown(item="{{item}}")
  include ../../../../views/layouts/footer
  include scripts
