include ../../../../views/layouts/app
  include ../../../../views/index/head
  body.ng-cloak
  include ../../../../views/layouts/navbar
    include ../../../../views/layouts/modal/item
  .container
    .post-feed.container-fluid(ng-controller="PostsCtrl")
      markdown(ng-repeat="item in items")
    include ../../../../views/layouts/modal/dialog
  include ../../../../views/layouts/footer
  include scripts
