include ../../../../views/layouts/app
  include ../../../../views/index/head
  body.ng-cloak
  include ../../../../views/layouts/navbar
  .container
    include ../../../../views/index/sections/home
      #mdeditor
    include ../../../../views/index/sections/resources
  include ../../../../views/layouts/footer
  include scripts
